.code-container {
  display: flex;
  flex-direction: column;
}

.code-container > * {
  padding: 1em;
}

.code-container > label {
  width: 10%;
  text-align: left;
}

.code-container > input {
  flex-grow: 1;
  margin: 1em;
}

.code-error {
  color: red;
  border-color: red;
}

@media (min-width: 600px) {
  .code-container {
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  .code-container > label {
    text-align: right;
  }
}
